<form
  [formGroup]="createColumnForm"
  (ngSubmit)="onSubmit()"
  class="create-column flex flex-col items-center justify-center bg-gray-100 rounded-lg p-8">
  <h2 class="text-2xl font-bold mb-6">
    {{ 'CREATE_COLUMN.title' | translate }}
  </h2>
  <div class="create-column_inputs-container w-full mb-6">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>{{ 'CREATE_COLUMN.label' | translate }}</mat-label>
      <input matInput formControlName="title" required class="w-full" />
      <mat-error *ngIf="title!.invalid">
        {{ 'CREATE_COLUMN.formError' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    color="warn"
    type="submit"
    class="bg-rose-500 text-white px-8 py-2 rounded-lg">
    {{ 'CREATE_COLUMN.button' | translate }}
  </button>
  <button
    mat-icon-button
    (click)="onClose()"
    class="close-modal-btn absolute top-2 right-2">
    <mat-icon>close</mat-icon>
  </button>
</form>
