<main class="bg-stone-50">
  <section class="flex flex-col md:flex-row px-4 md:px-10 py-12 md:py-16">
    <div class="w-full md:w-1/2 flex flex-col justify-center">
      <h1
        class="section1__title text-5xl md:text-6xl text-center font-bold leading-tight tracking-wide text-gray-900 mb-4 md:mb-8">
        {{ 'WELCOME_PAGE.title_1' | translate }}
      </h1>
      <p class="text-xl md:text-2xl text-center mb-8 md:mb-16">
        {{ 'WELCOME_PAGE.title_2' | translate }}
      </p>
    </div>
    <div class="w-full md:w-1/2 h-full">
      <img
        src="../../../../assets/images/guaranteed-quality-improvement-with-nTask-1024x439.png"
        alt="Image description"
        class="w-full h-full object-cover object-center" />
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="flex flex-col md:flex-row px-4 md:px-10 py-12 md:py-16">
    <div class="w-full md:w-1/2 h-full">
      <img
        src="../../../../assets/images/project-management-closure-process.png"
        alt="Image description"
        class="w-full h-full object-cover object-center" />
    </div>
    <div class="w-full md:w-1/2 pt-4 md:pt-0 pl-0 md:pl-4 text-3xl">
      <h2
        class="text-4xl md:text-3xl font-bold leading-tight mb-4 md:mb-8 text-gray-700">
        <span
          class="bg-gradient-to-r from-rose-500 to-orange-500 text-transparent text-2xl bg-clip-text">
          {{ 'WELCOME_PAGE.subtitle1' | translate }}
        </span>
        <span class="block text-base md:text-lg text-xl text-gray-600">
          {{ 'WELCOME_PAGE.subtitle2' | translate }}
          <span
            class="bg-gradient-to-r from-rose-500 to-orange-500 text-transparent bg-clip-text font-bold text-2xl">
            {{ 'WELCOME_PAGE.subtitle3' | translate }}
          </span>
          <span
            class="text-2xl bg-gradient-to-r from-rose-500 to-orange-500 text-transparent bg-clip-text font-bold">
            {{ 'WELCOME_PAGE.subtitle4' | translate }}
          </span>
          {{ 'WELCOME_PAGE.subtitle5' | translate }}
          <span
            class="text-2xl bg-gradient-to-r from-rose-500 to-orange-500 text-transparent bg-clip-text font-bold">
            {{ 'WELCOME_PAGE.subtitle6' | translate }}
          </span>
          {{ 'WELCOME_PAGE.subtitle7' | translate }}
        </span>
      </h2>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="flex flex-col lg:flex-row p-6">
    <div
      class="bg-gradient-to-r from-rose-50 to-orange-50 rounded-lg shadow-lg p-4 m-2 flex-1">
      <h2 class="text-xl font-bold mb-2">
        {{ 'WELCOME_PAGE.tools-section.list_item1' | translate }}
      </h2>
      <p class="text-gray-700 text-base">
        {{ 'WELCOME_PAGE.tools-section.list_description1' | translate }}
      </p>
    </div>
    <div
      class="bg-gradient-to-r from-rose-50 to-orange-50 rounded-lg shadow-lg p-4 m-2 flex-1">
      <h2 class="text-xl font-bold mb-2">
        {{ 'WELCOME_PAGE.tools-section.list_item3' | translate }}
      </h2>
      <p class="text-gray-700 text-base">
        {{ 'WELCOME_PAGE.tools-section.list_description3' | translate }}
      </p>
    </div>
    <div
      class="bg-gradient-to-r from-rose-50 to-orange-50 rounded-lg shadow-lg p-4 m-2 flex-1">
      <h2 class="text-xl font-bold mb-2">
        {{ 'WELCOME_PAGE.tools-section.list_item2' | translate }}
      </h2>
      <p class="text-gray-700 text-base">
        {{ 'WELCOME_PAGE.tools-section.list_description2' | translate }}
      </p>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="p-4 md:p-8 lg:p-12 xl:p-16">
    <div class="flex flex-col items-center">
      <h1 class="text-5xl md:text-4xl lg:text-5xl xl:text-6xl font-bold mb-4">
        {{ 'WELCOME_PAGE.about-section.title' | translate }}
      </h1>
      <p> {{ 'WELCOME_PAGE.about-section.description' | translate }}</p>
      <img
        class="rounded-full w-48 h-48 md:w-56 md:h-56 lg:w-64 lg:h-64 xl:w-72 xl:h-72 object-cover mb-4"
        src="../../../../assets/images/RasyImage.jpg"
        alt="Image description" />
      <p class="text-lg md:text-xl lg:text-2xl xl:text-3xl font-medium">
        {{ 'WELCOME_PAGE.about-section.person_title' | translate }}
      </p>
      <p class="text-lg md:text-xl lg:text-2xl xl:text-3xl font-medium pt-2">
        {{ 'WELCOME_PAGE.about-section.person_description' | translate }}
      </p>
    </div>
  </section>
</main>
