:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 4rem;
  padding: 1rem 2.2rem;
  background-color: #202020;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.rs-logo {

  @media (max-width: 760px) {
    width: 4rem;
    padding: 0.2rem;
  }
}

.github {
  @media (max-width: 425px) {
    gap: 0.2rem;
    font-size: 0.8rem;
  }
}
