<mat-form-field class="search-bar">
  <input
    class=""
    matInput
    type="text"
    id="search"
    [formControl]="searchData"
    #searchInput="matInput"
    (keypress)="onEnter($event)" />
  <button matSuffix mat-icon-button (click)="onSearch()" class="search-bar_btn">
    <mat-icon class="text-red-500">search</mat-icon>
  </button>
</mat-form-field>
<mat-error
  *ngIf="isEmpty && searchInput.focused"
  class="search-bar_error text-red-500"
  >{{ 'SEARCH.error' | translate }}</mat-error
>
