<mat-list-item class="board_item rounded-md p-4 hover:bg-rose-200">
  <div
    class="board_link flex items-center justify-between"
    (click)="backToBoard(board._id!)">
    <mat-icon
      mat-icon-no-color
      class="board_item-icon text-gray-700 mr-2 hover:bg-rose-200"
      >grid_view</mat-icon
    >
    <h4 class="board_header text-gray-800 font-medium">{{ board.title }}</h4>
  </div>
  <button
    mat-icon-button
    (click)="onOpenBoardModal()"
    class="board_remove-button ml-auto"
    type="button">
    <mat-icon mat-icon-no-color class="board_remove-btn__icon text-gray-700"
      >delete_outline</mat-icon
    >
  </button>
  <mat-divider class="my-4"></mat-divider>
</mat-list-item>
